{{!< ../layout}}

{{> adminHeader}}


<div class="container transactions-holder">
    {{#if transactions}}
    <ol class="breadcrumb">
        <li>Recent Transactions on Platform</li>
    </ol>
    <table class="table table-hover">
        <tr>
            <th>Transaction Type</th>
            <th>ID</th>
            <th>Issued By</th>
            <th>Initiator/User</th>
            <th>Amount</th>
            <th>Created At</th>
        </tr>
        {{#each transactions}}
        {{#ifvalue this.type value="deposit"}}
        <tr class="success">
        {{else}}
        <tr class="warning">
        {{/ifvalue}}
            <td>{{this.type}}</td>
            <td>
                <a href="/admin/transaction/{{this.id}}">{{this.id}}</a>
            </td>
            <td>{{this.issuer}}</td>
            <td>{{this.user.name}}</td>
            <td>GH₵{{this.amount}}</td>
            <td>{{this.createdAt}}</td>
        </tr>
        {{/each}}
    </table>
    {{else}}
    <div class="col-md-12">There are currently no transactions to view</div>
    {{/if}}
</div>


{{#if users}}
<div class="container users-table">
    <ol class="breadcrumb">
        <li>Users on Platform</li>
    </ol>
    <table class="table table-hover">
        <tr>
            <th>State</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Position</th>
        </tr>
        {{#each users}}
        <tr>
            {{#ifvalue this.state value="active"}}
            <td class="success">
                Active
            </td>
            {{else}}
            <td class="danger">
                Inactive
            </td>
            {{/ifvalue}}
            <td>
                <a href="/admin/user/{{this.id}}">{{this.name}}</a>
            </td>
            <td>{{this.email}}</td>
            <td>{{this.telephone}}</td>
            <td>{{this.position}}</td>
        </tr>
        {{/each}}
    </table>
</div>
{{/if}}

{{#contentFor "scripts"}}
    <script type="text/javascript">
        $(function () {

        });
    </script>
{{/contentFor}}
