{{!< ../layout}}

{{#contentFor "styles"}}
 <style>
    body {
        background-color: #1976D2;
    }
 </style>
{{/contentFor}}
<div class="page-login">
    <div class="page-form-holder">
        {{#if flash}}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Warning!</strong> {{flash.message}}
            </div>
        {{/if}}
        <div class="center-block login-header">
            <h3>ADMIN LOGIN</h3>
        </div>
        <form method="post" action="/admin/login">
            <div class="form-group">
                <label for="username">Username</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                    </span>
                    <input class="form-control input-lg" id="username" type="text" name="username" placeholder="Email" />
                </div>

            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                    </span>
                    <input class="form-control input-lg" id="password" type="password" name="password" placeholder="Password" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg">Log in</button>
        </form>
    </div>
</div>

{{#contentFor "scripts"}}
{{/contentFor}}
