{{!< ../layout}}

{{> adminHeader}}

<div class="container user-page-container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 page-information">
            <div class="form-group user-form-header">
                <h4>Transaction Information</h4>
            </div>

            <ul>
                {{#if customer.isGroup}}
                    <li>Group name: {{customer.groupName}}</li>
                {{else}}
                    <li>Customer name: {{customer.title}} {{customer.firstname}} {{customer.lastname}}</li>
                {{/if}}

                <li>Account Number: {{account.number}}</li>
                <li>Account balance: {{account.balance}}</li>
                <li>Former balance: {{transaction.previousBalance}}</li>
                <li>Transaction Amount: {{transaction.amount}}</li>
                <li>Transaction type: {{transaction.type}}</li>
                <li>Issuer: {{transaction.issuer}}</li>
                <li>User creator: {{user.name}}</li>
                <li>Date of Transaction: {{transaction.createdAt}}</li>
            </ul>

            <p>
                <a href="/admin" class="btn-btn-primary">
                    Go To Dashboard <i class="fa fa-angle-right"></i>
                </a>
            </p>
        </div>
    </div>
</div>
