{{!< ../layout}}

{{> adminHeader}}

<div class="container user-page-container">
    <div class="row">
        <div class="col-md-12 page-information">
            <h3>User Personal Information</h3>
            <p>
                This page is used to add new users to the platform. Fill in the informatin below. Ensure the user's email is unique and make sure every detail you enter concerning the user is accurate. Fill in the gender information with the title and poistion.
            </p>
            <ul>
                <li>Fill in the information accurately</li>
                <li>Fill all the fields</li>
                <li>Provide a password for the user</li>
                <li>Select a picture for the user</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form class="form-horizontal user-form" action="/admin/add_user" method="post">
                {{#if flash}}
                <div class="alert alert-{{flash.type}} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Warning!</strong> {{flash.message}}
                </div>
                {{/if}}

                <div class="form-group user-form-header">
                    <h4>User Information Form</h4>
                </div>

                <!-- form input control -->
                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-2" for="name">Name</label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" id="name" name="name" placeholder="Name" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-2" for="email">Email</label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" id="email" name="email" placeholder="Email" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-2" for="username">Username</label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" id="username" name="username" placeholder="Username" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-2" for="telephone">Telephone</label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" id="telephone" name="telephone" placeholder="Telephone" />
                    </div>
                </div>

                <!-- form radio control -->
                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-2">Gender</label>
                    <div class="col-md-7">
                        <label class="form-radio">
                            <input type="radio" name="gender" value="male"/>
                            <i class="form-icon"></i> Male
                        </label>
                        <label class="form-radio">
                            <input type="radio" name="gender" value="female" checked />
                            <i class="form-icon"></i> Female
                        </label>
                    </div>
                </div>

                <!-- form select control -->
                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-2" for="title">Title</label>

                    <div class="col-md-7">
                        <select name="title" class="form-control">
                            <option>Title</option>
                            <option value="Mr.">Mr.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Dr.">Dr.</option>
                        </select>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-2" for="title">Position</label>

                    <div class="col-md-7">
                        <select name="position" class="form-control">
                            <option>Position</option>
                            <option value="Agent">Agent</option>
                            <option value="Teller">Teller</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-2" for="password">Password</label>

                    <div class="col-md-7">
                        <input class="form-control" type="password" id="password" name="password" placeholder="Password" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <button type="submit" class="btn btn-default">Add User</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{#contentFor "scripts"}}
{{/contentFor}}
