{{!< ../layout}}

{{> adminHeader}}

<div class="container user-page-container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 page-information">
            <h3>User Personal Information</h3>
            <p>
                This page provide the user details of <strong>{{user.name}}</strong>. Edit it and follow the instructions below
            </p>
            <ul>
                <li>Fill in the information accurately</li>
                <li>Fill all the fields</li>
                <li>Provide a password for the user</li>
                <li>Select a picture for the user</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form class="form-horizontal user-form" action="/admin/user/{{user.id}}" method="post">
                {{#if flash}}
                <div class="alert alert-{{flash.type}} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Warning!</strong> {{flash.message}}
                </div>
                {{/if}}

                <div class="form-group user-form-header">
                    <h4>User Details of <strong>{{user.name}}</strong></h4>
                </div>

                <!-- form input control -->
                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-2" for="name">Name</label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" id="name" name="name" value="{{user.name}}" placeholder="Name" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-2" for="email">Email</label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" id="email" name="email" value="{{user.email}}" placeholder="Email" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-2" for="username">Username</label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" id="username" name="username" value="{{user.username}}" placeholder="Username" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-2" for="telephone">Telephone</label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" id="telephone" name="telephone" value="{{user.telephone}}" placeholder="Telephone" />
                    </div>
                </div>

                <!-- form radio control -->
                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-2">Gender</label>
                    <div class="col-md-7">
                        <label class="form-radio">
                            {{#ifvalue user.gender value='male'}}
                            <input type="radio" name="gender" value="male" checked/>
                            {{else}}
                            <input type="radio" name="gender" value="male"/>
                            {{/ifvalue}}
                            Male
                        </label>
                        <label class="form-radio">
                            {{#ifvalue user.gender value='female'}}
                            <input type="radio" name="gender" value="female" checked/>
                            {{else}}
                            <input type="radio" name="gender" value="female"/>
                            {{/ifvalue}}
                            Female
                        </label>
                    </div>
                </div>

                <!-- form select control -->
                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-2" for="title">Title</label>

                    <div class="col-md-7">
                        <select name="title" class="form-control">
                            <option>Title</option>
                            <option value="Mr." {{#ifvalue user.title value="Mr."}}selected{{/ifvalue}}>Mr.</option>
                            <option value="Mrs." {{#ifvalue user.title value="Mrs."}}selected{{/ifvalue}}>Mrs.</option>
                            <option value="Dr." {{#ifvalue user.title value="Dr."}}selected{{/ifvalue}}>Dr.</option>
                        </select>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-2" for="title">Position</label>

                    <div class="col-md-7">
                        <select name="position" class="form-control">
                            <option>Position</option>
                            <option value="Agent" {{#ifvalue user.position value="Agent"}}selected{{/ifvalue}}>Agent</option>
                            <option value="Teller" {{#ifvalue user.position value="Teller"}}selected{{/ifvalue}}>Teller</option>
                            <option value="Other" {{#ifvalue user.position value="Other"}}selected{{/ifvalue}}>Other</option>
                        </select>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-2" for="password">Password</label>

                    <div class="col-md-7">
                        <input class="form-control" type="password" id="password" name="password" placeholder="Password" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <button type="submit" class="btn btn-default">Update User Information</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{#contentFor "scripts"}}
{{/contentFor}}
