<nav class="navbar navbar-static-top navbar-inverse app-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{name}} ADMIN PANEL</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin/add_user">Add User</a></li>
                <li><a href="/admin">Dashboard</a></li>
                <li><a href="/admin/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
