{{#contentFor 'styles'}}
    <style>
        .input-group-btn .btn-group {
            display: flex !important;
        }
        .btn-group .btn {
            border-radius: 0;
            margin-left: -1px;
        }
    </style>
{{/contentFor}}
<nav class="navbar navbar-static-top navbar-inverse app-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{name}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/deposit">Deposit</a></li>
                <li><a href="/withdrawal">Withdrawal</a></li>
                <li><a href="/customer/new">New Customer</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <form class="navbar-form navbar-right" method="GET" action="/search" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="searchTerm" id="search-term">
                    <input type="text" hidden name="searchBy" value="">
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <div class="dropdown dropdown-lg">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a class="search-by" data-value="number" href="#">Account Number</a></li>
                                    <li><a class="search-by" data-value="name" href="#">Name</a></li>
                                    <li><a class="search-by" data-value="group" href="#">Group Name</a></li>
                                </ul>
                            </div>
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>
{{#contentFor "scripts"}}
    <script>
        $(function () {
            var searchByInput = $('input[name="searchBy"]');
            var searchElems = $('.search-by');

            searchElems.on('click', function (e) {
                var $elem = $(e.target);
                var value = $elem.data('value') || 'number';

                searchByInput.val(value);
            });
        });
    </script>
{{/contentFor}}
