<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{title}}</title>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="application-name" content="Banking Software">
        <meta name="keywords" content="bank,software,solution,digital,rural,ghana">
        <meta name="description" content="A digital banking solution for rural banks in Ghana">
        <meta name="subject" content="DIGITAL BANKING SYSTEM">
        <meta name="robots" content="index,follow,noodp">
        <meta name="googlebot" content="index,follow">
        <meta name="google" content="nositelinkssearchbox">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        {{{block "linkStyles"}}}
        {{{block "styles"}}}
    </head>
    <body>
        {{{body}}}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {{{block "scripts"}}}
    </body>
</html>
