{{!< layout}}

{{#contentFor "styles"}}
 <style>
    body {
        background-color: #1976D2;
    }
 </style>
{{/contentFor}}

<div class="page-login">
    <div class="page-form-holder">
        {{#if flash}}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Warning!</strong> {{flash.message}}
        </div>
        {{/if}}
        <div class="center-block login-header">
            <h3>BANK LOG-IN</h3>
        </div>
        <form method="post" action="/user/login">
            <div class="form-group">
                <label for="email">Email</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                    </span>
                    <input class="form-control input-lg" id="email" type="email" name="email" placeholder="Email" />
                </div>

            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                    </span>
                    <input class="form-control input-lg" id="password" type="password" name="password" placeholder="Password" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg">Log in</button>
        </form>
    </div>
    <div class="text-bold text-right no-account">
        <p>Don't have account? Contact Admin.</p>
    </div>
</div>

{{#contentFor "scripts"}}
{{/contentFor}}
