{{!< layout}}

{{#contentFor "linkStyles"}}
    <link rel="stylesheet" href="/css/bootstrap-datepicker3.standalone.min.css">
{{/contentFor}}
{{> header}}

<div class="container user-page-container">
    <div class="row">
        <div class="col-md-12 page-information">
            <h3>NEW CUSTOMER FORM</h3>
            <p>
                This page is used to add new customers to the platform. Fill in the informatin below. Ensure the data is entered properly and make sure every detail you enter concerning the user is accurate. Fill in the gender information with the title and poistion.
            </p>
            <ul>
                <li>Fill in the information accurately</li>
                <li>Fill all the fields</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form class="form-horizontal user-form" action="/customer/new" method="post">
                {{#if flash}}
                <div class="alert alert-{{flash.type}} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Warning!</strong> {{flash.message}}
                </div>
                {{/if}}

                <div class="form-group user-form-header">
                    <h4>Customer Information Form</h4>
                </div>

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accounTypeHeading">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#accountCollapse" aria-expanded="true" aria-controls="accountCollapse">
                                ACCOUNT TYPE
                                </a>
                            </h4>
                        </div>
                        <div id="accountCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="accounTypeHeading">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="accountType">Account Type</label>

                                    <div class="col-md-7">
                                        <select id="accountType" name="accountType" class="form-control">
                                            <option value="">Select one</option>
                                            <option value="individual">Individual Susu Account</option>
                                            <option value="group">Group Susu Account</option>
                                            <option value="normal">Normal Account</option>
                                        </select>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" id="groupDetails">
                        <div class="panel-heading" role="tab" id="groupHeading">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#groupCollapse" aria-expanded="true" aria-controls="groupCollapse">
                                GROUP DETAILS
                                </a>
                            </h4>
                        </div>
                        <div id="groupCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="groupHeading">
                            <div class="panel-body">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="groupName">Group Name</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="groupName" name="groupName" placeholder="Group Name" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="isGroup">Group</label>

                                    <div class="col-md-7">
                                        <select id="isGroup" name="isGroup" class="form-control">
                                            <option value="">Select one</option>
                                            <option value="individual">Yes</option>
                                            <option value="group">No</option>
                                        </select>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" id="personal">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <div class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    PERSONAL INFORMATION
                                </a>
                            </div>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <!-- form select control -->
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="title">Title</label>

                                    <div class="col-md-7">
                                        <select name="title" class="form-control">
                                            <option>Title</option>
                                            <option>Mr.</option>
                                            <option>Mrs.</option>
                                            <option>Rev.</option>
                                            <option>Dr.</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="firstname">First Name</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="firstname" name="firstname" placeholder="First Name" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="lastname">Last Name</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="lastname" name="lastname" placeholder="Last Name" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="formername">Former Name</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="formername" name="formername" placeholder="Former Name" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1">Marital Status</label>
                                    <div class="col-md-7">
                                        <label>
                                            <input type="radio" name="maritalStatus" value="single"/>
                                            Single
                                        </label>
                                        <label>
                                            <input type="radio" name="maritalStatus" value="married" checked />
                                            Married
                                        </label>
                                        <label>
                                            <input type="radio" name="maritalStatus" value="married" checked />
                                            Other
                                        </label>
                                    </div>
                                </div>

                                <!-- form radio control -->
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1">Gender</label>
                                    <div class="col-md-7">
                                        <label>
                                            <input type="radio" name="gender" value="male"/>
                                            Male
                                        </label>
                                        <label>
                                            <input type="radio" name="gender" value="female" checked />
                                            Female
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="dateOfBirth">Date Of Birth</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="dateOfBirth" name="dateOfBirth" placeholder="Date Of Birth" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="placeOfBirth">Place Of Birth</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="placeOfBirth" name="placeOfBirth" placeholder="Place Of Birth" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="motherMaidenName">Mother's Maiden Name</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="motherMaidenName" name="motherMaidenName" placeholder="Mother's Maiden Name" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="nationality">Nationality</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="nationality" name="nationality" placeholder="Nationality" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="residentPermitNo">Resident Permit No</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="residentPermitNo" name="residentPermitNo" placeholder="Resident Permit No" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="permitIssueDate">Permit Issue Date</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="permitIssueDate" name="permitIssueDate" placeholder="Permit Issue Date" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="permitExpiryDate">Permit Expiry Date</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="permitExpiryDate" name="permitExpiryDate" placeholder="Permit Expiry Date" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="taxIdentificationNumber">Tax Identification Number</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="taxIdentificationNumber" name="taxIdentificationNumber" placeholder="Tax Identification Number" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="region">Region</label>
                                    <div class="col-md-7">
                                        <select name="region" class="form-control">
                                            <option>Greater Accra</option>
                                            <option>Western</option>
                                            <option>Central</option>
                                            <option>Brong Ahafo</option>
                                            <option>Ashanti</option>
                                            <option>Volta</option>
                                            <option>Eastern</option>
                                            <option>Northern</option>
                                            <option>Upper East</option>
                                            <option>Upper West</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <div class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    CONTACT DETAILS
                                </a>
                            </div>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="residentialAddress">Residential Address</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="residentialAddress" name="residentialAddress" placeholder="Residential Address" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="placeofResidence">City/ Town/ Village</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="placeofResidence" name="placeofResidence" placeholder="City/ Town/ Village" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="nearestLandmark">Nearest Landmark</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="nearestLandmark" name="nearestLandmark" placeholder="Nearest Landmark" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="proofOfAddressType">Proof Of Address Type</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="proofOfAddressType" name="proofOfAddressType" placeholder="Proof Of Address Type" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="proofOfAddressSerialNumber">Proof Of Address Serial Number</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="proofOfAddressSerialNumber" name="proofOfAddressSerialNumber" placeholder="Proof Of Address Serial Number" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="mmda">Metropolitan, Municipal, District Assembly Area</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="mmda" name="mmda" placeholder="Metropolitan, Municipal, District Assembly Area" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="firstPhoneNumber">First Phone Number</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="firstPhoneNumber" name="firstPhoneNumber" placeholder="First Phone Number" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="secondPhoneNumber">Second Phone Number</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="secondPhoneNumber" name="secondPhoneNumber" placeholder="Second Phone Number" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="emailAddress">Email Address</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="emailAddress" name="emailAddress" placeholder="Email Address" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" id="validMeansId">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <div class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                    VALID MEANS OF IDENTIFICATION
                                </a>
                            </div>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1">Identification Type</label>
                                    <div class="col-md-7">
                                        <label>
                                            <input type="radio" name="identificationType" value="national"/>
                                            National
                                        </label>
                                        <label>
                                            <input type="radio" name="identificationType" value="voters" checked />
                                            Voter's
                                        </label>
                                        <label>
                                            <input type="radio" name="identificationType" value="passport"/>
                                            Passport
                                        </label>
                                        <label>
                                            <input type="radio" name="identificationType" value="drivers"/>
                                            Driver's License
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="identificationNumber">Identification Number</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="identificationNumber" name="identificationNumber" placeholder="Identification Number" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="identificationIssueDate">Identification Issue Date</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="identificationIssueDate" name="identificationIssueDate" placeholder="Identification Issue Date" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="identificationExpiryDate">Identification Expiry Date</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="identificationExpiryDate" name="identificationExpiryDate" placeholder="Identification Expiry Date" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" id="employmentDetails">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <div class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    EMPLOYMENT DETAILS
                                </a>
                            </div>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1">Employment Status</label>
                                    <div class="col-md-7">
                                        <label>
                                            <input type="radio" name="employmentStatus" value="employed"/>
                                            Employed
                                        </label>
                                        <label>
                                            <input type="radio" name="employmentStatus" value="self-employed" checked />
                                            Self Employed
                                        </label>
                                        <label>
                                            <input type="radio" name="employmentStatus" value="unemployed"/>
                                            Unemployed
                                        </label>
                                        <label>
                                            <input type="radio" name="employmentStatus" value="retired"/>
                                            Retired
                                        </label>
                                        <label>
                                            <input type="radio" name="employmentStatus" value="student"/>
                                            Student
                                        </label>
                                        <label>
                                            <input type="radio" name="employmentStatus" value="others"/>
                                            Others
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="employerName">Employer's Name</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="employerName" name="employerName" placeholder="Employer's Name" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="employerAddress">Employer's Address</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="employerAddress" name="employerAddress" placeholder="Employer's Address" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="employerNearestLandmark">Nearest Landmark</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="employerNearestLandmark" name="employerNearestLandmark" placeholder="Nearest Landmark" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="employerLocation">City/ Town/ Village</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="employerLocation" name="employerLocation" placeholder="City/ Town/ Village" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="employerRegion">Region</label>
                                    <div class="col-md-7">
                                        <select name="employerRegion" class="form-control">
                                            <option>Greater Accra</option>
                                            <option>Western</option>
                                            <option>Central</option>
                                            <option>Brong Ahafo</option>
                                            <option>Ashanti</option>
                                            <option>Volta</option>
                                            <option>Eastern</option>
                                            <option>Northern</option>
                                            <option>Upper East</option>
                                            <option>Upper West</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="employmentNature">Nature of Business/Occupation</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="employmentNature" name="employmentNature" placeholder="Nature of Business/Occupation" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="employerPhoneNumber">Office Phone Number</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="employerPhoneNumber" name="employerPhoneNumber" placeholder="Office Phone Number" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="employerMobileNumber">Mobile Number</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="employerMobileNumber" name="employerMobileNumber" placeholder="Mobile Number" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="employerEmailAddress">Email Address</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="employerEmailAddress" name="employerEmailAddress" placeholder="Email Address" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1">Employment Status</label>
                                    <div class="col-md-7">
                                        <label>
                                            <input type="radio" name="annualSalary" value="5000"/>
                                            < 5000
                                        </label>
                                        <label>
                                            <input type="radio" name="annualSalary" value="5001-10000" checked />
                                            5001-10000
                                        </label>
                                        <label>
                                            <input type="radio" name="annualSalary" value="10001-20000"/>
                                            10001-20000
                                        </label>
                                        <label>
                                            <input type="radio" name="annualSalary" value="20000"/>
                                            More than 20000
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="dateofEmployment">Date of Employment</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="dateofEmployment" name="dateofEmployment" placeholder="Date of Employment" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" id="nextOfKin">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <div class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collaspseFive" aria-expanded="true" aria-controls="collaspseFive">
                                    NEXT OF KIN DETAILS
                                </a>
                            </div>
                        </div>
                        <div id="collaspseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="nextOfKinTitle">Title</label>

                                    <div class="col-md-7">
                                        <select name="nextOfKinTitle" class="form-control">
                                            <option>Mr.</option>
                                            <option>Mrs.</option>
                                            <option>Rev.</option>
                                            <option>Dr.</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1">Gender</label>
                                    <div class="col-md-7">
                                        <label>
                                            <input type="radio" name="nextOfKinGender" value="male"/>
                                            Male
                                        </label>
                                        <label>
                                            <input type="radio" name="nextOfKinGender" value="female" checked />
                                            Female
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="nextOfKinRegion">Region</label>
                                    <div class="col-md-7">
                                        <select name="nextOfKinRegion" class="form-control">
                                            <option>Greater Accra</option>
                                            <option>Western</option>
                                            <option>Central</option>
                                            <option>Brong Ahafo</option>
                                            <option>Ashanti</option>
                                            <option>Volta</option>
                                            <option>Eastern</option>
                                            <option>Northern</option>
                                            <option>Upper East</option>
                                            <option>Upper West</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="nextOfKinRelationship">Relationship</label>
                                    <div class="col-md-7">
                                        <select name="nextOfKinRelationship" class="form-control">
                                            <option>Sister</option>
                                            <option>Brother</option>
                                            <option>Mother</option>
                                            <option>Father</option>
                                            <option>Uncle</option>
                                            <option>Auntie</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="nextOfKinLastName">Last Name</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="nextOfKinLastName" name="nextOfKinLastName" placeholder="Last Name" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="nextOfKinFirstName">First Name</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="nextOfKinFirstName" name="nextOfKinFirstName" placeholder="First Name" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="nextOfKinMiddleName">Middle Name</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="nextOfKinMiddleName" name="nextOfKinMiddleName" placeholder="Middle Name" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="nextOfKinDateOfBirth">Date Of Birth</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="nextOfKinDateOfBirth" name="nextOfKinDateOfBirth" placeholder="Date Of Birth" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="nextOfKinResidentialAddress">Residential Address</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="nextOfKinResidentialAddress" name="nextOfKinResidentialAddress" placeholder="Residential Address" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="nextOfKinFirstPhoneNumber">First Phone Number</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="nextOfKinFirstPhoneNumber" name="nextOfKinFirstPhoneNumber" placeholder="First Phone Number" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="nextOfKinSecondPhoneNumber">Second Phone Number</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="nextOfKinSecondPhoneNumber" name="nextOfKinSecondPhoneNumber" placeholder="Second Phone Number" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default" id="additionalDetails">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                ADDITIONAL DETAILS
                            </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="beneficialName">Beneficial Name</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="beneficialName" name="beneficialName" placeholder="Beneficial Name" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="spouseName">Spouse Name</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="spouseName" name="spouseName" placeholder="Spouse Name" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="spouseDateOfBirth">Spouse Date of Birth</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="spouseDateOfBirth" name="spouseDateOfBirth" placeholder="Spouse Date of Birth" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="spouseOccupation">Spouse Occupation</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="spouseOccupation" name="spouseOccupation" placeholder="Spouse Occupation" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="levelOfDeposits">Level Of Deposits</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="levelOfDeposits" name="levelOfDeposits" placeholder="Level Of Deposits" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="frequencyOfDeposits">Frequency Of Deposits</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="frequencyOfDeposits" name="frequencyOfDeposits" placeholder="Frequency Of Deposits" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="expectAnnualIncomeFromOtherSources">Expected Annual Income From Other Sources</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="expectAnnualIncomeFromOtherSources" name="expectAnnualIncomeFromOtherSources" placeholder="Expected Annual Income From Other Sources" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="businessType">Business Type</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="businessType" name="businessType" placeholder="Business Type" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1" for="businessAddress">Business Address</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="businessAddress" name="businessAddress" placeholder="Business Address" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accountServicesHeading">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#accountServices" aria-expanded="false" aria-controls="accountServices">
                                    ACCOUNT SERVICES REQUIRED
                                </a>
                            </h4>
                        </div>
                        <div id="accountServices" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accountServicesHeading">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1">Identification Type</label>
                                    <div class="col-md-7">
                                        <label>
                                            <input type="checkbox" name="internetBanking"/>
                                            Internet Banking
                                        </label>
                                        <label>
                                            <input type="checkbox" name="mobileBanking"  />
                                            Mobile Banking
                                        </label>
                                        <label>
                                            <input type="checkbox" name="transactionAlertEmail" />
                                            Transactional Alert Email
                                        </label>
                                        <label>
                                            <input type="checkbox" name="transactionAlertSMS" />
                                            Transactional Alert SMS
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1">Identification Type</label>
                                    <div class="col-md-7">
                                        <label>
                                            <input type="radio" name="transactionAlertPreference" value="email" />
                                            Email
                                        </label>
                                        <label>
                                            <input type="radio" name="transactionAlertPreference" value="sms" />
                                            SMS
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-md-offset-1">State Frequency</label>
                                    <div class="col-md-7">
                                        <label>
                                            <input type="radio" name="statementFrequency" value="semi-annually" />
                                            Semi-Annually
                                        </label>
                                        <label>
                                            <input type="radio" name="statementFrequency" value="annually" />
                                            Annually
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-7">
                        <button class="btn btn-primary" type="submit">Add new customer</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

{{#contentFor "scripts"}}
    <script src="/js/bootstrap-datepicker.min.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(function () {
            (function () {
                $('#dateOfBirth').datepicker();
                $('#permitIssueDate').datepicker();
                $('#permitExpiryDate').datepicker();
                $('#identificationIssueDate').datepicker();
                $('#identificationExpiryDate').datepicker();
                $('#dateofEmployment').datepicker();
                $('#nextOfKinDateOfBirth').datepicker();
            })();

            var kin = $('#nextOfKin');
            var employmentDetails = $('#employmentDetails');
            var personal = $('#personal');
            var additional = $('#additionalDetails');
            var groupDetails = $('#groupDetails');

            groupDetails.hide();

            var type = $('#accountType').val();

            function hideGroupStuff(type) {
                if (type === 'group') {
                    kin.hide();
                    employmentDetails.hide();
                    personal.hide();
                    additional.hide();
                    groupDetails.show();
                } else {
                    kin.show();
                    employmentDetails.show();
                    personal.show();
                    additional.show();
                    groupDetails.hide();
                }
            }

            hideGroupStuff(type);

            $('#accountType').on('change', function (e) {
                var account = e.target.value;
                hideGroupStuff(account);
            });

            $('form.user-form').on('submit', function (e) {
                e.preventDefault();
                e.target.submit();
            });
        });
    </script>
{{/contentFor}}
