{{!< layout}}


{{> header}}

<div class="container user-page-container">
    <div class="row">
        {{#if accounts}}
        <ol class="breadcrumb">
            <li>Accounts matching search term: <strong>{{searchTerm}}</strong></li>
        </ol>
        <table class="table table-hover">
            <tr>
                <th>Customer Name</th>
                <th>Account Type</th>
                <th>Account Number</th>
                <th>Balance</th>
                <th>Recent Transaction ID</th>
                <th>Edit</th>
                <th>Deposit</th>
                <th>Withdraw</th>
            </tr>
            {{#each accounts}}
            <tr class="success">
                {{#if this.customer.isGroup}}
                <td>{{this.customer.groupName}}</td>
                {{else}}
                <td>{{this.customer.title}} {{this.customer.firstname}} {{this.customer.lastname}}</td>
                {{/if}}
                <td>{{this.type}}</td>
                <td>
                    {{this.number}}
                </td>
                <td>GH₵{{this.balance}}</td>
                <td>{{this.recentTransactionId}}</td>
                <td>
                    <a href="/account/edit/{{this.id}}">Edit</a>
                </td>
                <td>
                    <a href="/account/deposit/{{this.id}}">Depsoit</a>
                </td>
                <td>
                    <a href="/account/withdraw/{{this.id}}">Withdraw</a>
                </td>
            </tr>
            {{/each}}
        </table>
        {{else}}
        <div class="col-md-12">There are currently no accounts matching the search term: <strong>{{searchTerm}}</strong></div>
        {{/if}}
    </div>
</div>
