{{!< layout}}

{{> header}}

<div class="container user-page-container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 big-card">
            {{#if customer.isGroup}}
              <h4>Welcome {{customer.groupName}}</h4>
            {{else}}
              <h4>Welcome {{customer.title}}{{customer.firstname}} {{customer.lastname}}</h4>
            {{/if}}
            <p>Your account number is <strong>{{customer.account.number}}</strong></p>
            <p>
                We are glad you joined this big family. You'll receive your account details to your number soon enough.
            </p>
            <p>
                Thanks for joining us.
            </p>
            <a href="/customer/new" class="btn btn-primary">Create New Customer</a>
        </div>
    </div>
</div>
