{{!< layout}}

{{> header}}

<div class="container user-page-container">
    <div class="row">
        <div class="col-md-12 page-information">
            <h3>Withdrwal Form</h3>
            <p>
                This form has the minimum setup to provide the best kind of convennience.
            </p>
            <ul>
                <li>Fill in the information accurately</li>
                <li>Fill all the fields</li>
                <li>Provide a password for the user</li>
                <li>Select a picture for the user</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form class="form-horizontal user-form" action="/withdrawal" method="post">
                {{#if flash}}
                <div class="alert alert-{{flash.type}} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{flash.message}}
                </div>
                {{/if}}

                <div class="form-group user-form-header">
                    {{#if account}}
                    <h4>Withdraw Money from Account: {{account.number}}</h4>
                    {{else}}
                    <h4>Withdraw Form</h4>
                    {{/if}}
                </div>

                <!-- form input control -->
                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-2" for="accountName">Account Name</label>
                    <div class="col-md-7">
                        {{#if account}}
                        <input class="form-control" type="text" id="accountName" name="accountName"
                        {{#if customer.isGroup}}
                        value="{{customer.groupName}}"
                        {{else}}
                        value="{{customer.title}} {{customer.firstname}} {{customer.lastname}}"
                        {{/if}} placeholder="Name" />
                        {{else}}
                        <input class="form-control" type="text" id="accountName" name="accountName" placeholder="Name" />
                        {{/if}}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-2" for="accountNumber">Account Number</label>
                    <div class="col-md-7">
                        {{#if account}}
                        <input class="form-control" type="text" id="accountNumber" name="accountNumber" value="{{account.number}}" placeholder="Account Number" />
                        {{else}}
                        <input class="form-control" type="text" id="accountNumber" name="accountNumber" placeholder="Account Number" />
                        {{/if}}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-2" for="amount">Amount</label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" id="amount" name="amount" placeholder="Amount" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-2" for="issuer">Issuer</label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" id="issuer" name="issuer" placeholder="Issuer" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <button type="submit" class="btn btn-default">Withdraw</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{#contentFor "scripts"}}
{{/contentFor}}
