.page-login {
    height: 100%;
    margin-top: 80px;

    .page-form-holder {
        background-color: $color-white;
        max-width: 450px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px;
        border-radius: $radius;
        padding: 20px 30px 30px 30px;
        height: 100%;

        form {
            height: 100%;

            .addon-lg {
                width: 40px;
                text-align: center;
            }
        }
    }

    .no-account {
        max-width: 450px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5px;
        color: $color-white;
    }
}

.is-hidden {
    display: none;
}

.is-active {
    display: block;
}

.user-page-container {
    margin-top: 20px;
}

.app-nav {
    background-color: $color-blue;
    border-bottom: 0;
}

.app-nav .navbar-brand {
    color: $color-white;
}

.navbar-brand,.app-nav .navbar-nav>li>a {
    font-weight: 500;
    color: $color-white;
}

.navbar-nav>.active>a,.app-nav .navbar-nav>.active>a:hover,.app-nav .navbar-nav>li>a:hover {
    color: #463265;
    background-color: #f9f9f9;
}

.navbar-toggle .icon-bar {
  background-color: #563d7c;
}

.app-nav .navbar-header .navbar-toggle {
  border-color: #fff;
}

.app-nav .navbar-header .navbar-toggle:focus,.app-nav .navbar-header .navbar-toggle:hover {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}

.page-information {
    border: 1px solid $color-blue;
    padding: 10px;
    border-radius: $radius;

    h3 {
        text-align: center;
        color: $color-blue;
    }
}

.user-form {
    border: 1px solid $color-blue;
    padding: 10px;
    border-radius: $radius;
    margin-top: 20px;
    margin-bottom: 20px;

    .panel-title a {
        color: $color-blue;
    }
}

.user-form-header {
    text-align: center;

    h4 {
        border-bottom: 1px solid darken($color-white, 10);
        padding-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        color: $color-blue;
    }

}


.login-header {
    color: $color-blue;
    text-align: center;
}

.big-card {
    background-color: darken($color-white, 10);
    border-radius: 3px;
    color: black;
    border: 1px solid $color-blue;
    padding: 20px;
}

.transactions-holder {
    margin-top: 20px;
    margin-bottom: 20px;
}

.transaction-card {
    border: 1px solid $color-blue;
    border-radius: $radius;

    h4 {
        margin-bottom: 5px;
        color: lighten($color-blue, 10);
        border-bottom: 1px solid darken($color-white, 20);
    }
}

.users-table {
    margin-top: 40px;
}
